.backgroundImage {
	inset: 0;
	position: absolute;
	z-index: -1;
}

.overlay {
	position: block;

	&:before {
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		background: rgba(0,0,0,0.8);
		opacity: .6; 
	}
}
